.index {
    background-color: bisque;
    text-align: center;
}

body{
    border: 0;
    margin: 0;
}

.index_content {
    width: 80%;
    height: 100%;
    position: relative;
    background-color: blue;
    top: 0px;
    margin: auto;
}