@keyframes close {
    from {
        left: 0;
    }
    to {
        left: -13%;
    }
}

@keyframes open {
    from {
        left: -13%;
    }
    to {
        left: 0;
    }
}

#navigation {
    width: 15%;
    height: 100%;
    display: inline-flex;
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.navigation-content-span {
    width: 85%;
    background-color: darkgrey;
    margin-right: 5px;
}


.navigation-is-open-span {
    display: flex;
    align-items: center;
    height: 100%;
    width: 10%;
}

.navigation-is-open-btn {
    color: cornsilk;
    height: 15%;
    width: 100%;
    border: 0;
    padding: 0;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

