.index {
    flex: auto;
    display: flex;
}

.header {
    flex: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.index>.header>.nes-container>.title {
    font-size: 1.8rem;
}

@keyframes hideToShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.index>.header>.nes-container>div{
    display: flex;
}
.index>.header>.nes-container>div>.cursor {
    -webkit-animation: hideToShow .7s infinite;
    animation: hideToShow .7s infinite;
    font-weight: 200;
}